﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<AccessDesign.Models.Room>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	Add Comments About Your Room Measurements
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <% Html.RenderPartial("~/Views/Shared/Message.ascx"); %>
    <% Html.EnableClientValidation(); %>
    <h1>Add Comments</h1>
    <div id="room-photo-nav">
            <a href="/RoomMeasurement/Upload/<%: ViewData["RoomId"] %>"><img src="/Content/Images/Room-Photo-Nav-UploadMeasurements.png" alt="" border="0" class="room-photo-nav-image"/></a><a href="/RoomMeasurement/Details/<%: ViewData["RoomId"] %>"><img src="/Content/Images/Room-Photo-Nav-ViewEditMeasurements.png" alt="" border="0" class="room-photo-nav-image"/></a><a href="/RoomMeasurement/Comments/<%: ViewData["RoomId"] %>"><img src="/Content/Images/Room-Photo-Nav-AddCommentsTreomaOn.png" alt="Add Comments about your rooms measurements" border="0" /></a>
    </div>   
     <br />
    <p>Please feel free to add comments about your room measurements using the field below. Once you are finished, click the submit button. This step is optional.</p>
    <br />
    <% using (Html.BeginForm()) {%>

            <%: Html.HiddenFor(model => model.RoomId) %>

            <div class="text-area">
                <%: Html.TextAreaFor(model => model.MeasurementDetails, new { @class = "txtarea", cols = 96, rows = 12 })%>
                <%: Html.ValidationMessageFor(model => model.MeasurementDetails)%>
            </div>
            <br />
            <div id="standard-button">
                    <input type="submit"  class="button" value="Submit" />
            </div> 
    <% } %>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" runat="server">   
    <script type="text/javascript">
        $(function () {
            $(".room-photo-nav-image")
            .mouseover(function () {
                var src = $(this).attr("src").match(/[^\.]+/) + "TreomaOn.png";
                $(this).attr("src", src);
            })
            .mouseout(function () {
                var src = $(this).attr("src").replace("TreomaOn", "");
                $(this).attr("src", src);
            });
        });
    </script>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="SideBarContent" runat="server">
</asp:Content>

