﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<IEnumerable<AccessDesign.Models.RoomMeasurement>>" %>
<% foreach(var item in Model)
  { %>
    &nbsp;<img src="<%= item.ThumbnailUrlPath %>" />
<%} %>

