﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>
<div>
        <%: Html.ActionLink("-> Upload Measurments ", "Upload", "RoomMeasurement", new { id=ViewData["RoomId"] }, new {}) %>
        <%: Html.ActionLink("-> View/Edit Measurements ", "Details", "RoomMeasurement", new { id = ViewData["RoomId"] }, new { })%>
        <%: Html.ActionLink("-> Add Comments ", "Comments", "RoomMeasurement", new { id = ViewData["RoomId"] }, new { })%>
        <%: Html.ActionLink("->  Inpiration Boards ", "InspirationBoardIndex", "DesignFile", new { id = ViewData["RoomId"] }, new { })%>
</div>