﻿/* Style Sheet for the admin section */
.display-currentstep-selected
{
    font-weight: bold;
    background-color: #FFBABA;
    width: 300px;
}
.display-currentstep
{
    width: 300px;
}
/* Displaying Text*/
.display-label 
{
    font-weight: bold;
    line-height:50px;
}
.display-field 
{
    
}
/* start - for displaying users */
#display-all-users-admin-table table
{
	width:100%;
	border: 1px solid black;
	border-collapse:collapse;
	font-size:16px;
	line-height:18px;
	color: #807572;
}
#display-all-users-admin-table table th, td
{
	border: 1px solid #807572;
}
#display-all-users-admin-table table tr th
{
	border: 1px solid #807572;
	background-color:#93d5df;
	color: #000000;
}
#display-all-users-admin-table table thead tr th a
{
	color:#000000;	
	text-decoration: none;
}
#display-all-users-admin-table table thead tr th a:hover
{
	color:#000000;
		
}

.sort_desc 
{
	background-image: url("/Content/Images/admin-paging-down.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 0px;
}
.sort_asc 
{
	background-image: url("/Content/Images/admin-paging-up.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 0px;
}





