﻿/*
updated coda CSS with my code
	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
	Copyright (c) 2009 Niall Doherty
	This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

/* Insignificant stuff, for demo purposes */

	/*
body { padding: 20px }
	.panel h2.title { margin-bottom: 10px }
	noscript div { background: #ccc; border: 1px solid #900; margin: 20px 0; padding: 15px }
*/

/* Most common stuff you'll need to change */

	.coda-slider-wrapper { 
		border: 0px outset black;
		text-align: left;
		width:960px;
		height:298px;
		margin-top:25px;	
	}
	.coda-slider { 
		width: 644px; /* my code = below */
		padding: 0px;
		margin: 0;
		float:left;

	/*background:#a9a9a9;*/ /* put your background color here */ 
	
	}
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 298px; overflow: auto !important; padding-right: 0 }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel {
		width: 644px; /* my code = below */
		padding: 0px;
		margin: 0;
		float:left;
	}
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {width: 644px;}
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 100px }
		
	/* Tab nav */	
	.coda-nav { 
	float: left;
	}
	.coda-nav ul {
		clear: both; 
		display: block; 
		margin: auto; 
		overflow: hidden; /* below = mine */
		float: left;
		line-height: 75px;
		padding: 0px;
		width: 316px;
		/* margin: 0; */
		list-style-type: none;
	}
	.coda-nav ul li {
		display: inline; 
		/* margin: 0; */
	}
	.coda-nav ul li a {
		display: block;
		margin:0;
		float: left;
		line-height: 75px;
		padding: 0px;
		width: 316px;
		font-size:8px;
		text-indent:-9000px;
	}
	.coda-nav ul li.slider-main-item01 a {
		background: url('/Content/Images/slider-get-started-designing.jpg') no-repeat left center;
		background-position: 0 0;
		text-decoration:none;
	}
	.coda-nav ul li.slider-main-item01 a:hover {
		background: url('/Content/Images/slider-get-started-designing.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	.coda-nav ul li.slider-main-item01 a.current 
	{ 
		background: url('/Content/Images/slider-get-started-designing.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	.coda-nav ul li.slider-main-item02 a {
	background: url('/Content/Images/slider-what-is-digital-interior-design.jpg') no-repeat left center;
	background-position: 0 0;
	text-decoration:none;
	}
	.coda-nav ul li.slider-main-item02 a:hover {
		background: url('/Content/Images/slider-what-is-digital-interior-design.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	.coda-nav ul li.slider-main-item02 a.current 
	{ 
		background: url('/Content/Images/slider-what-is-digital-interior-design.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	
	.coda-nav ul li.slider-main-item03 a {
	    background: url('/Content/Images/slider-eco-conscious-design.jpg') no-repeat left center;
	    background-position: 0 0;
	    text-decoration:none;
	}
	.coda-nav ul li.slider-main-item03 a:hover {
		background: url('/Content/Images/slider-eco-conscious-design.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	.coda-nav ul li.slider-main-item03 a.current 
	{ 
		background: url('/Content/Images/slider-eco-conscious-design.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	.coda-nav ul li.slider-main-item04 a {
	background: url('/Content/Images/slider-your-space.jpg') no-repeat left center;
	background-position: 0 0;
	text-decoration:none;
	}
	.coda-nav ul li.slider-main-item04 a:hover {
		background: url('/Content/Images/slider-your-space.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}
	.coda-nav ul li.slider-main-item04 a.current 
	{ 
		background: url('/Content/Images/slider-your-space.jpg') no-repeat left center;
		background-position: 0 -75px;
		text-decoration: none;
	}	
	/* Panel padding */
	.coda-slider .panel-wrapper { 
		padding: 0px;
		margin: 0;
		width:644px;
		height:298px;
		float:left;
	}
	
	/* Panel padding */
	.coda-slider .panel-wrapper02 { 
		padding: 0px;
		margin: 0;
		width:644px;
		height:298px;
		float:left; 
		background: url('/Content/Images/slider-main-02.jpg') no-repeat left center;

	}
	
	.coda-slider .panel-wrapper02 .panel-video { 
	padding-top: 60px;
	border: 3px;
	border-color: #000;
		float:right;
	}	

	
	/* Preloader */
	.coda-slider p.loading { padding: 0; text-align: center }

/* Don't change anything below here unless you know what you're doing */

	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: hidden; }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { 
		width: 644px; /* my code = below */
		padding: 0px;
		margin: 0;
		float:left;
		display: block; 	
	}
	.coda-slider .panel-container { 
	position: relative;
	width: 644px; /* my code = below */
	padding: 0px;
	margin: 0;
	float:left;

	
	}
	.coda-nav-left, .coda-nav-right { float: left;display:none; /*remove display:none; to show left & right arrows*/ }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
