﻿/* jQuery lightBox plugin - Gallery style */
.gallery
{
    float:left;
    height: 122px;
    margin-right:35px;
    margin-bottom:30px;
}
.gallery-item
{
    float:none;
    text-align:center;
}
.gallery-delete-button
{
    height:22px;
    line-height: 18px;
    text-align: center; 
    vertical-align:middle;
}
.gallery-delete-button a
{
    text-decoration: none;
}
#gallery {
	padding: 10px 10px, 10px, 0;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
#gallery span 
{
	width: 100px;
	padding: 5px;
}
#galleryItem
{
    padding: 10px;
	width: 100px;
}
#gallerItem img
{
    vertical-align:middle;
}
#photoDetails
{
    text-align:left;
    padding: 10px;
}
