@charset "UTF-8";
/* CSS Document */

#login-box {
	background-image:url(/Content/Images/login-bg.png);
	background-repeat:no-repeat;
	background-color:transparent;
	height:30px;
	width:202px;
	float:right;
	margin-top:-6.5em;
	border:none;
}
#login-box ul {
	margin:0;
	padding:0;
	text-align:center;
	margin-top:.50em;
}
.post-info-bar ul li {
	display:inline;
	padding:3px 28px 0 28px;
	color: #bbc547;
}
h3.footer-box-hd {
    color: #FFFFFF;
    float: left;
    font-family: 'SansumiRegular',Arial,Helvetica,sans-serif;
    line-height: 24px;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 100%;
}
h2.main-box-hd {
    color: #70A24D;
    float: left;
    font-family: 'SansumiRegular',Arial,Helvetica,sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
}