@charset "UTF-8";
/* CSS Document */

/* ---------- css reset ---------- */
@font-face {
	font-family: 'SansumiRegular';
	src: url('/Content/Fonts/Sansumi-Bold-webfont.eot');
	src: local('☺'), url('/Content/Fonts/Sansumi-Bold-webfont.woff') format('woff'), url('/Content/Fonts/Sansumi-Bold-webfont.ttf') format('truetype'), url('/Content/Fonts/Sansumi-Bold-webfont.svg#webfontbpq276B0') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SansumiExtraBoldRegular';
	src: url('/Content/Fonts/Sansumi-ExtraBold-webfont.eot');
	src: local('☺'), url('/Content/Fonts/Sansumi-ExtraBold-webfont.woff') format('woff'), url('/Content/Fonts/Sansumi-ExtraBold-webfont.ttf') format('truetype'), url('/Content/Fonts/Sansumi-ExtraBold-webfont.svg#webfontyWaXclxz') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- end reset ---------- */

/* ---------- begin global style ---------- */
body {
	padding: 0;
	margin: 0;
	background: #fff url(/Content/Images/bg.jpg) no-repeat center top;
	width: 100%;
	display: table;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-weight:400;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'SansumiRegular', Arial, Helvetica, sans-serif;
}
h1 {
	font-size:30px;
	color: #93d5df;
	line-height:48px;
}
h2 {
	font-size:30px;
	line-height:48px;
	color: #bbc547;
}
h3 {
	font-size:24px;
	color: #807572;
	line-height:48px;
}
h4 {
	font-size:18px;
	color: #211b1a;
	line-height:48px;
}
h5 {
	font-size:16px;
	color: #807572;
	line-height:48px;
}
h6 {
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-weight:lighter;
}
p {
	font-size:16px;
	line-height:18px;
	color: #807572;
}
.wrapper {
	width:960px;
	margin:0px auto;
}
#header {
	width:960px;
}
#logo {
	margin-top:17px;
}
#top-nav {
	background:url(/Content/Images/top-nav-bg.png) 0 0 repeat-x;
	width:100%;
	height:34px;
	margin-top:1em;
}
#top-nav-content {
	width:960px;
	margin:0 auto;
}
#top-nav-content ul {
	float:left;
}
#top-nav-social {
	height:34px;
	width:100px;
	float:right;
	margin-left:10px;
	vertical-align:middle;
}
#facebook-top {
	background-image:url(/Content/Images/facebook-top-nav.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:28px;
	height:28px;
	float:left;
	margin:3px 7px 0 7px;
}
#twitter-top {
	background-image:url(/Content/Images/twitter-top-nav.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:28px;
	height:28px;
	float:left;
	margin:3px 7px 0 7px;
}
#top-nav ul {
	margin:0;
	padding:0;
	text-align:center;
	margin-top:.6em;
	font-family: 'SansumiRegular', Arial, Helvetica, sans-serif;
	font-size:16px;
}
#top-nav ul li {
	list-style-type:none;
	display:inline;
}
#top-nav ul li a {
	text-decoration:none;
	padding:0 .5em;
	color:#fff;
}
#top-nav ul li a:hover {
	color:#5f8d32;
}
/* footer styling */
#footer {
	position: relative;
	clear: both;
	background:url(/Content/Images/footer-bg.png) 0 0 repeat;
	border-top:1px solid #8cc1c0;
	border-bottom:1px solid #8cc1c0;
	width:100%;
	margin:60px 0 0 0;
	padding-bottom:20px;
}
#footer-boxes { /* -- This is the div containing the three boxes in the footer -- */
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	padding: 25px 0 0 0;
}
h3.footer-box-hd {
	margin:0;
	padding:10px 10px 0 10px;
	float:left;
	width:100%;
	font-family: 'SansumiRegular', Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:24px;
	font-weight:300;
	font-size:24px;
}
.footer-box-img {
	float:left;
	margin:0;
	padding:15px 0 0 20px;
}
h6.footer-box-txt {
	margin:0;
	padding:15px 10px 0 10px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:20px;
	float: left;
	color:#fff;
}
h6.footer-box-txt a{
	color:#fff;
	text-decoration:none;
}
h6.footer-box-txt a:hover{
	color:#fff;
	text-decoration:underline;
}


.footer-box {
	float: left;
	background-color:#93d5df;
	border:1px solid #8bc0c0;
	width: 297px;
	height:210px;
}
.footer-box.middle {margin:0 1.9em;}
#email-capture {
	float:left;
	margin-top:15px;
	margin-left:20px;
	margin-bottom:-30px;
}
#newsletter-submit-button {
	position:relative;
	left:218px;
	top:-31px;
}
input#enter-email {
	border-color: #DAD9D6 #EEEDEA #F9F8F5;
	border-style: solid;
	border-width: 1px;
	color: #3C2313;
	float: left;
	font-size: 14px;
	height: 30px;
	width: 260px;
}
#social-media {
	height:48px;
	width:302px;
	padding:0;
	margin:15px 0 0 0;
	float:left;
}
#social-media ul li {
	width: 50px;
	margin:0 11px;
	float:left;
	display:inline;
}
#social-media ul {
	margin-left:8px;
}
#connect-twitter {
	background:url(/Content/Images/connect-twitter.png) 0 0 no-repeat;
	width:48px;
	height:48px;
	display:block;
	float:left;
	padding:0;
}
#connect-facebook {
	background:url(/Content/Images/connect-facebook.png) 0 0 no-repeat;
	width:48px;
	height:48px;
	display:block;
	float:left;
	padding:0;
}
#connect-email {
	background:url(/Content/Images/connect-email.png) 0 0 no-repeat;
	width:48px;
	height:48px;
	display:block;
	float:left;
	padding:0;
}
#connect-rss {
	background:url(/Content/Images/connect-rss.png) 0 0 no-repeat;
	width:48px;
	height:48px;
	display:block;
	float:left;
	padding:0;
}
#footer-nav {
	width:960px;
	margin:0 auto;
	margin-bottom:35px;
}
#footer-nav ul {
	margin:0;
	padding:0;
	text-align:center;
	margin-top:1em;
	padding-top:.5em;
}
#footer-nav ul li {
	list-style-type:none;
	display:inline;
	font-size:12px;
}
#footer-nav ul li a {
	text-decoration:none;
	padding:0 .5em 0 .5em;
	color:#201d1c;
}
#footer-nav ul li a:hover {
	text-decoration:underline;
}
#copyright {
	padding-right:280px;
}
/* ---------- end global style ---------- */

/* ---------- begin index style ---------- */
#login-box {
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color:#e0dacd;
	border:1px solid #c0c3c3;
	height:35px;
	width:200px;
	float:right;
	margin-top:-6.7em;
}
#login-box ul {
	margin:0;
	padding:0;
	text-align:center;
	margin-top:.75em;
}
#login-box ul li {
	list-style-type:none;
	display:inline;
	font-family: 'SansumiRegular', Arial, Helvetica, sans-serif;
	font-size:12px;
}
#login-box ul li a {
	text-decoration:none;
	padding:0 5px;
	color:#807572;
}
#login-box ul li a:hover {
	color:#5f5755;
}
#main-content {
}
#main-slider {
	background:url(/Content/Images/slider.jpg) 0 0 no-repeat;
	width:960px;
	height:297px;
	margin-top:25px;
}
#main-quote {
	background:url(/Content/Images/quote.png) 0 0 no-repeat;
	width:952px;
	height:22px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
#main-content-boxes { /* -- This is the div containing the three main content boxes -- */
	width:960px;
	margin-top:20px;
	overflow:hidden;
}
.inner-box {
	margin:0;
	padding:0;
	width:313px;
	float:left;
}
h2.main-box-hd {
	margin:0;
	padding:0 0 0 10px;
	float:left;
	width:100%;
	font-family: 'SansumiRegular', Arial, Helvetica, sans-serif;
	color:#70a24d;
	font-size:24px;
	font-weight:400;
}
h2.main-box-hd a{
	text-decoration:none;
	color:#70a24d;
}
.main-box-img {
	float:left;
	margin:0;
	padding:0 8px 0 8px;
}
h6.main-box-txt {
	margin:0;
	padding:0 10px 0 10px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:16px;
	color:#807572;
	text-align:left;
}
h6.main-box-txt a {
	color:#bbc547;
	text-decoration:none;
}
#main-boxL {
	background-color:#fff;
	border:1px solid #e2dfd5;
	width:313px;
	height:170px;
	float:left;
}
#main-boxL .inner-box {	text-align:center;}
#main-boxL a {
	line-height:30px;
}
#main-boxC {
	background-color:#fff;
	border:1px solid #e2dfd5;
	width:313px;
	height:170px;
	float:left;
	margin-left:.46em;
}
#main-boxR {
	background:#fff url(/Content/Images/inspired-by-nature.jpg) 0 0 no-repeat;
	background-position:right bottom;
	border:1px solid #e2dfd5;
	width:313px;
	height:170px;
	float:left;
	margin-left:.46em;
}
#main-boxR a {
	line-height:30px;
}
/* ---------- end index style ---------- */

/* ---------- begin subpage style ---------- */
#subpage-layout {
	background: url(/Content/Images/subpage-content-bg.jpg) repeat-y;
	border:1px solid #e0dacd;
	width:960px;
	float:left;
	margin:25px 0 0 0;
	padding:0;
}
#subpage-white-layout 
{
    background-color: #ffffff;
	border:1px solid #e0dacd;
	width:960px;
	float:left;
	margin:25px 0 0 0;
	padding:0;
}
#left-menu {
	width:223px;
	float:left;
}
#left-menu ul {
	padding:20px 10px 0px 10px;
	list-style:none;
}
#left-menu ul li {
	font-size:18px;
	line-height:48px;
}
#left-menu ul li a {
	display:block;
	background-image: url(/Content/Images/left-menu-item-bg.png);
	background-repeat:no-repeat;
	background-position: 0 41px;
	height: 41px;
	text-decoration:none;
	color: #807572;
	padding:0 0 0 10px;
}
#left-menu ul li a:hover {
	color: #807572;
	background-position: 0 -41px;
}
#left-menu .selected {
	color: #807572;
	background-position: 0 -41px;
}
#subpage-content {
	width:697px;
	padding:20px 10px 20px 20px;
	float:left;
}
/* ---------- end subpage style ---------- */
/* start page alignment */
.alignright {float:right; margin:10px;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}
.size-full { margin:10px auto;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}

.alignleft {float:left; margin:10px;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}
.aligncenter {float:none; margin:10px;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}
/* end page alignment */
/* ---------- begin blog style ---------- */
#blog-layout {
	width:960px;
	float:left;
	margin:25px 0 0 0;
	padding:0;
}
#blog-content {
	background: #fff;
	border:1px solid #e0dacd;
	width:727px;
	padding:20px 10px 20px 20px;
	margin:0;
	float:left;
}
#blog-content p {
	margin:0;
	padding:0 25px 0 15px;
	text-align:justify;
	font-size:14;
	line-height:20px;
	color: #807572;
}
#blog-content h1 {
	margin:0;
	padding:0 0 10px 15px;
}
.post-author {
	font-size:12px;
	margin:0;
	padding:0 0 15px 15px;
	color:#807572;
}
.post-info-bar {
	background: #eef0d1;
	margin: 10px 25px 5px 15px;
	padding:3px 0 0 0;
	font-size:12px;
}
.post-info-bar ul {
	padding:7px 15px 7px 15px;
	margin:0px;
	list-style:none;
}
.post-info-bar ul li {
	display:inline;
	padding:3px 28px 3px 28px;
	color: #bbc547;
	overflow:visible;
}
.date-icon {
	background-image: url(/Content/Images/blog-info-bar-date-ico.png);
	background-repeat:no-repeat;
	width: 19px;
	height: 20x;
}
.comments-icon {
	background-image:url(/Content/Images/blog-info-bar-comments-ico.png);
	background-repeat:no-repeat;
	width: 18px;
	height: 16px;
}
.category-icon {
	background-image:url(/Content/Images/blog-info-bar-category-ico.png);
	background-repeat:no-repeat;
	width: 20px;
	height: 19px;
}
.post-info-bar ul li a {
	text-decoration:none;
	color:#bbc547;
}
.post-info-bar ul li a:hover {
	text-decoration:underline;
}
.blog-pic {
	margin:5px 25px 0 12px;
	padding:0;
	float:right;
}
.expand-comments {
	margin-top:5px;
}
.comments-expand {
	color: #81b6b3;
	font-size:14px;
	margin:0 10px 0 15px;
	float:left;
}
.comments-expand img {
	margin:0;
	padding:0;
	float:left;
}
#widgets-container {
	width:170px;
	height:100%;
	padding:0 0 0 20px;
	float:left;
}
.widget-box {
	width:200px;
	height:180px;
	background: #fff url(/Content/Images/blog-widget-title-bg.jpg) repeat-x;
	border:1px solid #e0dacd;
	padding: 0;
	margin:0 0 20px 0;
	float:left;
}
.widget-box h4 {
	color:#81b6b3;
	margin:0;
	padding:0 0 0 17px;
	line-height:36px;
}
.widget-box p {
	margin:0;
	padding:5px 3px 5px 17px;
	color: #746c6a;
	font-size:14;
	line-height:24px;
}
/* ---------- end blog style ---------- */

/* ---------- begin app style ---------- */
#left {
	width:223px;
	float:left;
}
#navcontainer {
}
#navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, Helvetica, sans-serif;
}
#navcontainer li {
	margin: 0;
}
#navcontainer ul li a {
	display: block;
	font-size:14px;
	height:16px;
	margin:0;
	padding:10px 0 6px 12px;
}
#navcontainer ul li.main-item a {
	background-color:#d4e5db;
	border-bottom:#f8f9ec 1px solid;
	text-shadow: 1px 1px #ffffff;
	color:#433C3A;
	text-decoration:none;
}
#navcontainer ul li.main-item a:hover {
	background-color: #bdd2c5;
	text-decoration: none;
}
#navcontainer ul ul li {
	margin: 0;
	background:#f8f9ec;
}
#navcontainer ul ul li:hover {
	margin: 0;
	background:#f1f2e6;
}
#navcontainer ul ul li.checked {
	background:#f8f9ec url("/Content/Images/green-checkmark-box-sm.png") 5% 4px no-repeat;
}
#navcontainer ul ul li.checked:hover {
	background:#f1f2e6 url("/Content/Images/green-checkmark-box-sm.png") 5% 4px no-repeat;
}
#navcontainer ul ul a {
	display: block;
	padding: 6px 3px 6px 30px;
	width: 180px;
	color:#433c3a;
	text-decoration: none;
	font-size:12px;
}
#navcontainer ul ul a:hover {
	text-decoration: none;
}
#navcontainer ul li.expand-nav {
	background: #e6e9ba url(/Content/Images/up-arrow-green.png) 95% 4px no-repeat;
	border-bottom:#f8f9ec 1px solid;
	display:block;
}
#navcontainer ul li.expand-nav:hover {
	background: #d5d8a3 url(/Content/Images/up-arrow-green.png) 95% 4px no-repeat;
}
#navcontainer ul li a.expand-link.active {
	background: #e6e9ba url(/Content/Images/down-arrow-green.png) 95% 4px no-repeat;
}
#navcontainer ul li.expand-nav.active:hover {
	background: #d5d8a3 url(/Content/Images/down-arrow-green.png) 95% 4px no-repeat;
}
#app-container {
	width:960px;
	float:left;
	margin:25px 0 0 0;
	padding:0;
}
#my-kitchen {
	margin-left:90px;
}
#phil-office-expand {
	margin-left:80px;
}
#our-dining-room-expand {
	margin-left:47px;
}
.expand-link {
	color:#433c3a;
	text-decoration:none;
	text-shadow: 1px 1px #ffffff;
	font-size:14px;
}
.expand-nav img {
	display:block;
	float:right;
	margin-top:-5px;
	margin-right:10px;
	padding:0;
}
.delete-photo img
{
    margin-top: 20px;
    text-align: center;
}
#standard-button {
	margin:0;
	padding:0;
	float: left;
}
.button {
	display: block;
	width: 129px;
	height: 35px;
	background: url("/Content/Images/blank-button.jpg") no-repeat 0 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:18px;
	border: 0px;
}
.button:hover {
	background-position: 0 -35px;
}
.button:active {
	background-position: 0 -70px;
}
#filenameUploader  {
	display: block;
	width: 129px;
	height: 35px;
	background: url("/Content/Images/browse-button.png") no-repeat 0 0;
}
#filenameUploader:hover {
	background-position: 0 -35px;
}
#filenameUploader:active {
	background-position: 0 -70px;
}
#upload-file  {
	display: block;
	width: 129px;
	height: 35px;
	background: url("/Content/Images/upload-button.png") no-repeat 0 0;
	border:0px;
}
#upload-file:hover {
	background-position: 0 -35px;
}
#upload-file:active {
	background-position: 0 -70px;
}
.form-success {
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:#f9fbe8;
	border:#bbc547 1px solid;
	width:706px;
	float:left;
	margin-bottom:15px;
}
.form-unsuccess {
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:#ffe1e1;
	border:#c8583a 1px solid;
	width:706px;
	float:left;
	margin-bottom:15px;
}
.form-info {
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:#e4f5f7;
	border:#93d5df 1px solid;
	width:706px;
	float:left;
	margin-bottom:15px;
}
.form-warning {
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:#f9eece;
	border:#dfbf5f 1px solid;
	width:706px;
	float:left;
	margin-bottom:15px;
}
.form-successful {
	padding-top:5px;
}
.form-successfully-submitted {
	color:#bbc547;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	margin:10px 0 10px 10px;
	float:left;
}
.form-successful img {
	margin:5px 0 0 25px;
	float:left;
}
.form-unsuccessful {
	padding-top:5px;
}
.form-unsuccessfully-submitted {
	color:#c8583a;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	margin:10px 0 10px 10px;
	float:left;
}
.form-unsuccessful img {
	margin:5px 0 0 25px;
	float:left;
}
.form-info {
	padding-top:5px;
}
.form-info-submitted {
	color:#807572;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	margin:10px 0 10px 10px;
	float:left;
}
.form-info img {
	margin:5px 0 0 25px;
	float:left;
}
.form-warning {
	padding-top:5px;
}
.form-warning-submitted {
	color:#dfbf5f;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	margin:10px 0 10px 10px;
	float:left;
}
.form-warning img {
	margin:5px 0 0 25px;
	float:left;
}
#app-steps-generic {
	width:706px;
	height:25px;
}
#room-photo-nav {
	width:796px;
	height:25px;
	float: left;
	margin-bottom: 20px;
}
.room-photo-nav-image 
{
}
.step-description {
	color:#807572;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top:5px;
}
.room-photo-gallery {
	width:697px;
	padding:0px 10px 20px 0px;
	float:left;
}
#buttons {
	width:706px;
	height:25px;
	margin-top:20px;
	float:left;
}
.green-checkmark-button {
	background-image:url(/Content/Images/green-checkmark-box.png);
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	display:block;
	float:left;
	margin-right:20px;
}
.green-x-button {
	background-image:url(/Content/Images/green-x.png);
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	display:block;
	float:left;
	margin-right:20px;
}
.green-up-arrow {
	background-image:url(/Content/Images/up-arrow-green.png);
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	display:block;
	float:left;
	margin-right:20px;
}
.green-down-arrow {
	background-image:url(/Content/Images/down-arrow-green.png);
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	display:block;
	float:left;
	margin-right:20px;
}
.radio {
	float:left;
	margin-left:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
}
.checkbox {
	float:left;
	margin-left:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
	line-height: 32px;
}
.checkbox-remember-me {
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
	line-height: 32px;
}
.checkbox-questionnaire {
	float:left;
	margin-left:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
	line-height: 32px;
	width: 100%;
}

.checkbox-questionnaire .txtbox {
	border:1px solid #e0dacd;
	height:28px;
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
}

.dropdown {
	
}
.dropdown .option {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
	height:28px;
	font-size:16px; 
}
.dropdown-questionnaire {
	float:left;
	margin-left:10px;
	width: 100%;
}
.dropdown-questionnaire .option {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
	height:28px;
	font-size:16px; 
}
.text-area .txtarea {
	border:1px solid #e0dacd;
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
}
.text-box .txtbox {
	border:1px solid #e0dacd;
	height:28px;
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#807572;
}
.furniture-gallery
{
    float:left;
    height: 122px;
    margin-right:35px;
    margin-bottom:30px;
}
.furniture-gallery-item
{
    float:none;
}
.furniture-gallery-name-button
{
    height:22px;
    line-height: 18px;
    text-align: center; 
    vertical-align:middle;
}
.furniture-gallery-name-button a
{
    text-decoration: none;
}
.furniture-delete-button
{
    width: 100px;
    height: 50px;
    float:left;
}
.furniture-delete-button img
{
    margin-top: 12px;
}
.furniture-delete-button-left-text
{
    float: left;
    width: 597px;
    height: 50px;
}
.furniture-index-image-list
{
    float:left;
    height: 122px;
    margin-right:35px;
    margin-bottom:30px;
}
.furniture-index-image-list-item
{
    float:none;
}
.furniture-index-image-list-button
{
    height:22px;
    line-height: 18px;
    text-align: center; 
    vertical-align:middle;
}
.gallery-delete-button a
{
    text-decoration: none;
}
.gallery-centered-caption
{
    font-weight:bold;
    text-align:center;
    color:#807572;
}
/* ---------- end app style ---------- */
.clear {
	clear:both;
}
/* --------- begin error text -------- */
.error {color:Red;}
.field-validation-error {color:#ff0000;font-style:italic;}
.input-validation-error {border:1px solid #ff0000;background-color:#ffeeee;}
.validation-summary-errors {font-weight:normal;color:#ff0000;font-style:italic;}
.validation-summary-errors ul {display: none;}
.validation-summary-valid {display: none;}
/* -------- end error text ---------- */
.form-container
{
    margin: 60px, 60px, 60px, 60px; 
}
.mid-form-container
{
   margin: 100px, 0px, 100px, 0px;  
}
.furniture-left-label-same-line
{
    float: left;
    width: 200px;
}
.furniture-left-label-same-line label
{
    color:#807572;
    font-weight:bolder;
    line-height: 32px;
}
.furniture-right-label-same-line
{
    float: left;
    width: 450px;
    line-height: 32px;
    font-size:16px;
	color: #807572;
}

.payForRoom-left-label-same-line
{
    float: left;
    width: 350px;
}
.payForRoom-left-label-same-line label
{
    color:#807572;
    font-weight:bolder;
    line-height: 32px;
}
.payForRoom-right-label-same-line
{
    float: left;
    width: 300px;
    line-height: 32px;
    font-size:16px;
	color: #807572;
}


.text-box-label-same-line
{
    float: left;
    width: 200px;
}
.text-box-label-same-line label
{
    color:#807572;
    font-weight:bolder;
    line-height: 32px;
}
.one-line-content-same-line
{
    float: left;
    width: 450px;
    color:#807572;
    font-weight:normal;
    line-height: 32px;
}
.content-bottom-navigation
{
    float: left;
    width: 700px;
    line-height: 32px;
}
.check-box-label-same-line label
{
    color:#807572;
    font-weight:bolder;
    line-height: 32px;
}
.check-box-label-same-line
{
    float: left;
    width: 200px;
}
.text-box-label-above label
{
    color:#807572;
    font-weight:bolder;
    line-height: 32px;
}
.text-box-label-above
{
    width: 100%
}
.check-box-label-register label
{
    color:#807572;
    font-weight:bolder;
    line-height: 32px;
}
.check-box-label-register
{
    float: left;
    width: 390px;
}
#subpage-content a {
	color: #bbc547;
	font-weight:bold;
}
#subpage-content a:hover {	
	color: #93d5df;
}
.required-field 
{
    color:Red;
    font-weight:bolder;
    vertical-align:super;
}
/* --------- begin general text -------- */
.textBlock
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    color: #807572;
    font-size: 16px;
    line-height: 18px;
}
.textBlock ol li {
	list-style-type:decimal;
	margin-left: 50px;
}
.textBlock ul li {
	list-style-type:disc;
	margin-left: 50px;
}
/* --------- end error text -------- */