﻿/* table styling */
table.zebra {
width: 100%;
}
table.zebra th {
padding: 9px 0 5px 0;
border-bottom: 1px solid #e8dacf;
font-size: 18px;
font-weight: normal;
text-transform:uppercase;
color:#87c0c9;

}
table.zebra td {
padding: 9px;
border-bottom: 1px solid #e8dacf;
font-size:14px;
color:#595959;
}
table.zebra tbody tr.odd {
background: #e2f4f6;
}
table.zebra .bold {
font-weight: bold;
font-size:14px;
text-shadow:1px 1px #ffffff;
}
table.zebra tbody tr.even {
background: white;
}

/*
 * table zebra
 */


table.zebra { width: 100%; }

table.zebra th,
table.zebra td {
	padding: 5px;
	border-bottom: 1px solid #dcdcdc;
}

table.zebra tbody { font-size: 11px; }

table.zebra tbody tr.odd { background: #f7f7f7; }
table.zebra tbody tr:nth-of-type(odd) { background: #f7f7f7; }

table.zebra tbody tr.even {}
table.zebra tbody tr:nth-of-type(even) {}

table.zebra .bold { font-weight: bold; }

table.zebra td * { vertical-align: middle; }

/* typography */
/* table styling */
table.zebra {
width: 100%;
}
table.zebra td {
padding: 9px;
border-bottom: 1px solid #e8dacf;
font-size:14px;
}
table.zebra tbody tr.odd {
background: #e2f4f6;
}
table.zebra .bold {
font-weight: bold;
font-size:14px;
color:#595959;
text-shadow:1px 1px #ffffff;
}
table.zebra tbody tr.even {
background: white;
}