/*
 * headings
 */
@font-face {
	font-family: 'SansumiRegular';
	src: url('../fonts/Sansumi-Bold-webfont.eot');
	src: local('☺'), url('../fonts/Sansumi-Bold-webfont.woff') format('woff'), url('../fonts/Sansumi-Bold-webfont.ttf') format('truetype'), url('../fonts/Sansumi-Bold-webfont.svg#webfontbpq276B0') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SansumiExtraBoldRegular';
	src: url('fonts/Sansumi-ExtraBold-webfont.eot');
	src: local('☺'), url('fonts/Sansumi-ExtraBold-webfont.woff') format('woff'), url('fonts/Sansumi-ExtraBold-webfont.ttf') format('truetype'), url('fonts/Sansumi-ExtraBold-webfont.svg#webfontyWaXclxz') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 { font-family: 'SansumiRegular', Arial, Helvetica, sans-serif; }

h1 {
	font-weight: normal;
	color: #93d5df;
}

#page h1 a {
	color: #93d5df;
	text-decoration: none;
}

h1 {
	font-size:30px;
	color: #93d5df;
	line-height:32px;
}
h2 {
	font-size:24px;
	line-height:26px;
	color: #bbc547;
}
h3 {
	font-size:16px;
	color: #807572;
	line-height:18px;
	text-transform:uppercase;
	font-weight:normal;
}
h4 {
	font-size:18px;
	color: #211b1a;
	line-height:20px;
}
h6 {
	font-family:Helvetica, Arial, sans-serif;
	font-weight:lighter;
}
p {
	font-size:13px;
	line-height:150%;
	color: #333;
	font-family:Helvetica, Arial, sans-serif;
	margin-bottom:20px;
}

/*
 * anchor
 */

a:link,
a:visited { color: #333435; text-decoration: underline; }
a:hover { color: #bbc547; }

a.icon-folder {
        padding-left: 17px;
        background: url(../images/typography/icon_folder.png) 0 40% no-repeat;
}

a.icon-file {
        padding-left: 17px;
        background: url(../images/typography/icon_file.png) 0 40% no-repeat;
}

a.icon-download {
        padding-left: 17px;
        background: url(../images/typography/icon_download.png) 0 40% no-repeat;
}

a.icon-external {
        padding-left: 17px;
        background: url(../images/typography/icon_external.png) 0 40% no-repeat;
}

a.icon-pdf {
        padding-left: 17px;
        background: url(../images/pdf_button.png) 0 40% no-repeat;
}

/*
 * emphasis
 */

em.box { 
	padding: 0px 3px 0px 3px;
	border: 1px dotted #aaaaaa;
	background: #FDFDFD;	
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
	white-space: nowrap;
}

/*
 * unsorted lists
 */

/* icon style */
ul.arrow,
ul.checkbox,
ul.check,
ul.star {
	margin: 10px 0px 10px 0px;
	padding-left: 20px;
	list-style: none;
}

ul.arrow li,
ul.checkbox li,
ul.check li,
ul.star li {
	margin: 5px 0px 5px 0px;
	padding-left: 35px;
	font-weight: bold;
	line-height: 26px;  
}

ul.arrow li { background: url(../images/typography/list_arrow.png) 0 0 no-repeat; }
ul.checkbox li { background: url(../images/typography/list_checkbox.png) 0 0 no-repeat; }
ul.check li { background: url(../images/typography/list_check.png) 0 0 no-repeat; }
ul.star li { background: url(../images/typography/list_star.png) 0 0 no-repeat; }

/* links style */
ul.links {
	margin: 10px 0px 20px 0px;
	padding-left: 0px;
	list-style: none;
}
.module ul.links { margin: 0 0 15px 15px; }

ul.links li {
	padding-left: 15px;
	height: 25px;
	line-height: 25px;
	background: url(../images/typography/list_links.png) 0px 0 no-repeat;
	cursor: pointer;
}

ul.links li:hover { background-position: 0px -25px; }

#page ul.links li a {
	display: block;
	color: #333435;
	text-decoration: none;
}

#page ul.links li a:hover { color: #bbc547; }

/* hoverbox style */
ul.hoverbox {
	margin: 10px 0px 20px 0px;
	padding-left: 0px;
	list-style: none;
}
.module ul.hoverbox { margin: 0; }

ul.hoverbox li {
	height: 50px;
	line-height: 50px;
	background: url(../images/typography/list_hoverbox.png) 100% 0 no-repeat;
	overflow: hidden;
}

ul.hoverbox li:hover { background-position: 100% -50px; }

ul.hoverbox li a {
	display: block;
	padding-right: 25px;
	height: 50px;
	color: #858586;
	text-decoration: none;
	cursor: pointer;
}

ul.hoverbox li:hover a { color: #bbc547; }

ul.hoverbox li span.title { 
	display: block;
	color: #333435;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 35px;
}

ul.hoverbox li:hover span.title { color: #bbc547; }

ul.hoverbox li span.subtitle { 
	display: block;
	margin-top: -8px;
	font-size: 10px;
	line-height: 12px;
	overflow: hidden;
}

/*
 * ordered lists
 */

ol.disc {
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 45px;
	background: url(../images/typography/list_disc.png) 20px 0px repeat-y;
}

ol.disc li {
	margin: 5px 0px 5px 0px;
	padding-left: 10px;
	font-weight: bold;
	line-height: 26px;  
}

/*
 * horizontal rule
 */
 
hr.dotted {
	margin: 15px 0px 15px 0px;
	display: block;
	background: url(../images/typography/line_dotted.png) 0 0 repeat-x;
	height: 1px;
	border: none;
}


/*
 * highlighted div and span tags
 */

span.note,
span.info,
span.alert,
span.download,
span.tip { display: block; }

div.note, span.note {
	color: #323232;
	margin: 10px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	background: #E4EBF1;
	border-top: 1px solid #D4D9DE;
	border-bottom: 1px solid #D4D9DE;
	text-align:justify;
}

div.info, span.info,
div.alert, span.alert,
div.download, span.download,
div.tip, span.tip {
	color: #323232;
	margin: 10px 0px 10px 0px;
	padding: 8px 10px 8px 40px;
}

div.info, span.info {
	background: #E4EBF1 url(../images/typography/box_info.png) 8px 5px no-repeat;
	border-top: 1px solid #D4D9DE;
	border-bottom: 1px solid #D4D9DE;
}

div.alert, span.alert {
	background: #FFE6DF url(../images/typography/box_alert.png) 8px 5px no-repeat;
	border-top: 1px solid #FFD9CF;
	border-bottom: 1px solid #FFD9CF;
}

div.download, span.download {
	background: #f5faeb url(../images/typography/box_download.png) 8px 5px no-repeat;
	border-top: 1px solid #D6EBCD;
	border-bottom: 1px solid #D6EBCD;
}

div.tip, span.tip {
	background: #FDF9E3 url(../images/typography/box_tip.png) 8px 5px no-repeat;
	border-top: 1px solid #FAE7BE;
	border-bottom: 1px solid #FAE7BE;
}

/*
 * p tag with dropcaps
 */
 
p.dropcap:first-letter {
	display: block;
	margin: 7px 4px 0px 0px;
	float: left;
	font-size: 280%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*
 * blockquotes
 */

blockquote { font-family: Georgia, "Times New Roman", Times, serif; }

q.blockquote {
	margin: 10px 0 10px 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 120%;
}

q.blockquote:first-letter { font-size: 150%; }

q.blockquote:before,
q.blockquote:after { content: ""; }

blockquote.quotation {
	margin: 10px 0px 10px 0px;
	padding: 10px 35px 10px 35px;
	border: none;
	background: url(../images/typography/blockquote_start.png) 0 0 no-repeat;
	text-align:justify;
}

blockquote.quotation p {
	margin: 0px -35px -10px 0px;
	padding: 0px 35px 10px 0px;
	background: url(../images/typography/blockquote_end.png) 100% 100% no-repeat;
}

/*
 * floating boxes
 */

body .inset-left {
	margin: 15px 15px 10px 0px;
	float: left;
}

body .inset-right {
	margin: 15px 0px 10px 15px;
	float: right;
}

/*
 * google fonts
 */
 
.webfonts .module h3.header span.title {
	font-family: 'Yanone Kaffeesatz';
	font-size: 26px;
	font-weight: normal;
}

/*
 * spotlight
 */

.spotlight .spotlight1 { visibility: hidden; }

.spotlight.fade .spotlight1 > div > a:first-child,
.spotlight.bottom .spotlight1 > div > a:first-child {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* fade */
.spotlight.fade .spotlight1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto !important;
	padding: 20px;
	background: #bbc547;
	color: #ffffff;
	font-size: 18px;
}

.spotlight.fade h3.title { 
	margin: 0px 0px 20px 0px;
	padding: 0;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
}

.spotlight.fade .spotlight1 > div > a:first-child { background: url(../images/spotlight_overlay.png) 100% 100% no-repeat; }

.spotlight.fade a { color: #ffffff; }
.spotlight.fade a:hover { color: #333435; }

/* top, bottom, left, right */
.spotlight.bottom .spotlight1 > * {
	padding: 10px;
	background: #323232;
	background: rgba(0,0,0,0.8);
	color: #ffffff;
}

.spotlight.bottom h3.title { 
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 7px 0px;
	border-bottom: 1px solid #ffffff;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	color: #ffffff;
}

.spotlight.bottom a { color: #ffffff; }
.spotlight.bottom a:hover { color: #bbc547; }

.wp-caption {margin:0; padding:0;}
.alignright {float:right; margin:10px;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}
.size-full { margin:10px auto;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}

.alignleft {float:left; margin:10px;  border:4px solid #e0dacd; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}
p.wp-caption-text { padding:0 10px; font-size:11px; text-transform:uppercase;margin-bottom:0; text-align:center; margin-top:3px;}

/* table styling */
table.zebra {
width: 100%;
}
table.zebra th {
padding: 9px 0 5px 0;
border-bottom: 1px solid #e8dacf;
font-size: 24px;
font-weight: normal;
text-transform:uppercase;
color:#87c0c9;
}
table.zebra td {
padding: 9px;
border-bottom: 1px solid #e8dacf;
font-size:14px;
}
table.zebra tbody tr.odd {
background: #e2f4f6;
}
table.zebra .bold {
font-weight: bold;
font-size:14px;
text-shadow:1px 1px #ffffff;
}
table.zebra tbody tr.even {
background: white;
}
#si_contact_form1 input {
color: #666;
background: #FCFCFC;
width: 170px;
margin: 0 5px 10px 0;
padding: 5px 7px;
}
#si_contact_form1 input[type="submit"] {
background: #93d5df;
background: -moz-linear-gradient(top, #93d5df 0%, #93d5df 50%, #8abdb9 50%, #81b6b3 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #93d5df), color-stop(0.5, #8abdb9), color-stop(0.5, #81b6b3), color-stop(1, #81b6b3));
border: 1px solid #bbf7ff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: inset 0px 0px 0px 1px rgba(91, 167, 179, 0.4), 0 1px 3px #999;
-webkit-box-shadow: inset 0px 0px 0px 1px rgba(91, 167, 179, 0.4), 0 1px 3px #999;
box-shadow: inset 0px 0px 0px 1px rgba(91, 167, 179, 0.4), 0 1px 3px #999;
color: white;
font-family: "helvetica neue", helvetica, arial, sans-serif;
font-size: 20px;
font-weight: bold;
line-height: 1;
padding: 12px 0 14px 0;
text-align: center;
text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
width: 160px;	
}