﻿<%@ Control Language="C#"  Inherits="System.Web.Mvc.ViewUserControl" %>
<%= Html.If(!String.IsNullOrEmpty(TempData["ErrorMessage"] as string), () => "<div class=\"form-unsuccess\"><div class=\"form-unsuccessful\"><img src=\"/Content/Images/non.png\" alt=\"Oops\" /><h6 class=\"form-unsuccessfully-submitted\">" + TempData["ErrorMessage"] + "</h6></div></div>")
            .ElseIf(!String.IsNullOrEmpty(TempData["SuccessMessage"] as string), () => "<div class=\"form-success\"><div class=\"form-successful\"><img src=\"/Content/Images/checkmark.png\" alt=\"Yep\" /><h6 class=\"form-successfully-submitted\">" + TempData["SuccessMessage"] + "</h6></div></div>")
                    .ElseIf(!String.IsNullOrEmpty(TempData["WarningMessage"] as string), () => "<div class=\"form-warning\"><img src=\"/Content/Images/warning.png\" alt=\"Warning\" /><h6 class=\"form-warning-submitted\">" + TempData["WarningMessage"] + "</h6></div>")
                .ElseIf(!String.IsNullOrEmpty(TempData["InformationMessage"] as string), () => "<div class=\"form-info\"><img src=\"/Content/Images/info.png\" alt=\"Info\" /><h6 class=\"form-info-submitted\">" + TempData["InformationMessage"] + "</h6></div>")
		.Else(() => String.Empty) %>